
/* Primary colors */
:root {
    --primary-text-color:#757575; ;
    --title-text-color: #212121;
    --accent-color: #2196F3 ;
    --primary-white-color: #ffffff;
}


body {
     background-color: var(--primary-white-color);
     color: var(--primary-text-color);
     font-family: 'Roboto', sans-serif;

   }

   /* Logo */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    text-decoration: none;
    }




/* Index html */


/* navigation */
.navigation li {
    list-style-type: none;
}

.navigation .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: #212121;
    text-decoration: none;
}

.navigation .link:focus,
.navigation .link:hover  {
    color: var(--accent-color);
}


/* Section "solution" */
.solution h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.odrder-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-white-color);
    background: var(--accent-color) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}


/* Section "specifics" */
.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color) ;
}

.specifics li {
    list-style-type: none;
}
.specifics h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1px;
    text-transform: uppercase;
    color: var(--title-text-color) ;
}
.specifics p {
    font-size: 14px;
    line-height: 2;
}


/* Section "serrvices" */
.services li {
    list-style-type: none;
}


/* Section "team" */
.team li {
    list-style-type: none;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color) ;
}

.team p {
    font-size: 16px;
    line-height: 1.2px;
}

/* Footer */
.link-address a {
    font-style: normal;
    font-family: 'Roboto' ;
    font-size: 14px;
    line-height: 2;
    color: var(--primary-white-color) ;
    text-decoration: none;
    background-color: black ;/*background-color задан временно,
     чтобы было видно ссылку в браузере*/
   
}
.link-address a:hover,
.link-address a:focus {
    color: var(--accent-color);
}

.bottom-contacts a {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    background-color: black;/*background-color задан временно,
    чтобы было видно ссылку в браузере*/
}
.bottom-contacts a:focus,
.bottom-contacts a:hover {
    color: var(--accent-color);

}
.bottom-contacts li {
    list-style-type: none;

}





/* Portfolio html */

/* Filters (buttons) */
.filters li {
    list-style: none;
}

.filters button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:1.6;
    text-align: center;
    color:var(--title-text-color);
    background: #F5F4FA;
    cursor: pointer;
}
.filters button:hover,
.filters button:focus {
    background-color: var(--accent-color);
}


/* gallery */
.gallery li {
    list-style-type: none;
}
.gallery h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color:var(--title-text-color);
}
.gallery p {
    font-size: 16px;
    line-height: 1.9;
    
} 
